*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.product-form {
    padding: 2rem;
    border: 3px solid salmon;
}
.product-form > div {
    margin-bottom: 1rem;
}

.submit-btn{
    padding: .5rem 1rem;
    border: 1px solid greenyellow;
    color: white;
    background-color: green;
}

.edit-btn{
    background-color: dodgerblue;
    border-color: skyblue;
}

.table-container{
    width: 100vw;
    overflow-x: scroll;
}

.table-product {
    border-collapse: collapse;
}

.table-product thead tr {
    background-color: dodgerblue;
    color: white;
    
}
.table-product th, .table-product td {
    border: 1px solid skyblue;
    font-size: .75rem;
}

.table-product tr td:not(:first-child) {
    padding: .5rem;
}
.table-product tbody tr:nth-child(odd) {
    background-color: rgba(252, 0, 0, 0.464);
}
.table-product tr th {
    padding: .5rem;
}
.product__img {
    width: 50px;
    object-fit: cover;
    height: 50px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
.product__desc {
    width: 30%;
}
.product__price {
    font-weight: bold;
}
.product__info, .product__actions {
    vertical-align: center;
    text-align: center;
    font-size: 1.5rem;
}

.product__info{
    font-size: 1.25rem !important;
}

.product__info-icon.disabled{
    filter: grayscale(1);
    opacity: .5;
    pointer-events: none; /*no escuchas ninguno de los eventos, de hover, click, etc*/
}

.product__action-btn {
    background-color: rgb(254, 33, 33);
    border: none;
    padding: 0.25rem;
    border-radius: 2px;
    color: white;
}

.product__action-btn:hover {
    background-color: rgb(199, 1, 1);
}
.product__action-btn {
    background-color: rgb(254, 33, 33);
    border: none;
    padding: 0.25rem;
    border-radius: 2px;
    color: white;
}

.product__action-btn:hover {
    background-color: rgb(199, 1, 1);
}

/* .product__action-btn--edit { //asi es como deberia de quedar para sass
    background-color: rgb(73, 162, 250); 
}
.product__action-btn--edit:hover {
    background-color: rgb(8, 131, 255); 
}

.product__action-btn--favorite {
    background-color: rgb(253, 247, 230); 
}
.product__action-btn--favorite:hover {
    background-color: rgb(247, 217, 155); 
} */

.btn-edit {
    background-color: rgb(73, 162, 250); 
}
.btn-edit:hover {
    background-color: rgb(8, 131, 255); 
}

.btn-favorite {
    background-color: rgb(253, 247, 230); 
}

.btn-favorite.active {
    background-color: rgb(253, 198, 36); 
}
.btn-favorite:hover {
    background-color: rgb(247, 217, 155); 
}

@media screen and (min-width: 1000px){
    .container{
        flex-direction: row;
    }
    .table-container{
        overflow-x: auto;
    }
}
/* .red-bg .swal-title{ esto es por si queremos modificar algunas cosas de la ventana que salta
    color: red
} 

.swal-modal {
    background-color: #333;
}  */