.section-cards {
    &__header {
        text-transform: uppercase;
        text-align: center;
    }

    &__title {
        color: #444;
        font-size: 3rem;
        font-weight: 400;
        color: $color-bg-primary;
        font-family: 'Skranji', 'Inter', Arial, sans-serif;

    }

    &__subtitle {
        color: $color-text-light;
        font-size: 1rem;
        font-weight: bold;
        padding-bottom: 1rem;
    }

    &__subtitle span {
        color: $color-bg-primary;
    }

    &__products-search-container {
        border-radius: 10px;
        border: 1px solid rgb(4, 0, 9);
        background-color: #4b4b4b;
        width: 90%;
        margin: auto;
        color: $color-text-light;
    }

    &__products-count{
        margin: .75rem 0;
    }

    &__category {
        margin: 1rem;
        padding-bottom: 0.5rem;
        font-weight: 400;
        border-bottom: 1px solid $color-bg-primary;
    }

    .cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); //auto fit quiere decir que repita a medida que pueda llenar que meta lo que pueda en 200 px o sino que ponga 1fr que ocupe todo eso y hasta un min de 200px
    }
}

.product-search {
    &__input {
        padding: 1rem;
        border-radius: 10px;
        height: 25px;
        width: 18rem;
        font-size: 1rem;
        font-weight: bold;
    }

    &__btn {
        height: 35px;
        width: 60px;
        background-color: $color-bg-secondary;
        border-color: #00759a;
        border-radius: 5px;
        box-shadow: none;
        color: $color-text-light;
        text-shadow: 0px 0px 5px rgba(0, 194, 255, 1);

        &:hover {
            background-color: $color-bg-primary;
            border-color: rgb(255, 255, 255);
            color: black;
        }
    }


}


@media screen and (min-width: 600px) {
    .section-cards {
        &__title-container {
            margin: 0 1rem;
        }

        &__title {
            font-size: 3.5rem;
        }

        &__products-search-container {
            font-size: 0.9rem;
            font-weight: bold;
            width: 90%;
            height: 4.5rem;
            padding: .5rem 0 5rem 0;
        }

        .cards-container {
            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        }
    }
}

@media screen and (min-width: 1000px) {
    .section-cards {
        &__header {
            margin: 0 1rem;
        }

        &__title-container {
            width: 90%;
            margin: auto;
        }

        &__title {
            font-size: 5rem;
        }

        &__subtitle {
            margin-top: 0.5rem;
        }

        .cards-container {
            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        }
    }

    .product-search {
        display: flex;
        align-items: center;
        justify-content: space-around;

        &__input {
            width: 80%;
        }
    }
}

@media screen and (min-width: 1600px){
    .section-cards{
        &__header{
            margin-top: 1rem;
        }
    }
}
