.section-cards{
    &__header{
        text-transform: uppercase;
        text-align: center;
    }   
    &__title{        
        color: #444;
        font-size: 1.8rem;
        font-weight: 400;
        font-family: 'Skranji', 'Inter', Arial, sans-serif;
    }    
    &__title span{
        color: $color-bg-primary;
        
    }
    &__subtitle{
        color: #444;
        font-size: 1rem;
        font-weight: bold;
    }
    &__products-search-container{
        border-radius: 10px; /* o el valor de radio que desees */
        border: 1px solid rgb(4, 0, 9); /* opcional, para agregar un borde */
        padding: 1rem;
        background-color: cornflowerblue;
        width: 90%;
        margin: auto;
        color: $color-bg-secondary;
    }
    &__category{
        margin: 0.5rem;
        text-align: center;
        font-weight: 400;
        border-bottom: 1px solid $color-bg-primary;
    }
    .cards-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));     //auto fit quiere decir que repita a medida que pueda llenar que meta lo que pueda en 200 px o sino que ponga 1fr que ocupe todo eso y hasta un min de 200px
    }
}

.product-search{
    &__input{
        border-radius: 10px;
        height: 25px;
        width: 18rem;
    }
    &__btn{
        margin-top: 0.1rem;
        height: 25px;
        width: 60px;
        background-color: red;
        border-color: rgb(192, 192, 192);
        border-radius: 5px;
        box-shadow: none;
    }
}


@media screen and (min-width: 600px) {
    .section-cards{
        &__title-container{
            margin: 0 1rem;
        }
    }
    // .cards-container{
    //     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); //le digo que muestre 2 elementos cuando entre en modo tablet
    // }
}

@media screen and (min-width: 1000px) {
    .section-cards{
        &__header{
            display: flex;
            margin: 0 1rem;
        }
        &__title-container{
            width: 250%;
        }
        &__subtitle{
            margin-top: 0.5rem;
        }
        &__products-search-container{
            width: 50rem;
            height: 5.5rem;
            font-size: 0.75rem;
            font-weight: bold;
        }
    }
    .product-search{
        display: flex;
        align-items: center;
        justify-content: space-between;        
        &__input{
            width: 10rem;
            margin: 5px;
        }
    }
}