.header{    
    position: fixed; //para que se quede fijo el header
    width: 100%; //se le da 100% ya que al decirle que este fijo ocupa solo lo que ocupa sus elementos
    top: 0;
}
.navbar{
    height: 50px;
    background-color: $color-bg-secondary;
    display: flex;
    align-items: center;
    position: relative;
    &__logo{
        height: 45px;
    }
    &__menu-label{
        color: $color-text-light;
        // margin-left: auto;
        height: 42px;
        background-color: orangered;   //fondo del menu hamburguesa
        width: 42px;
        margin-right: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__menu-btn{
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
    }

    &__menu-btn:checked ~ &__nav-links-container{
        //height: auto;
        height: calc(100vh - 50px); /*este calculo es para que se despliegue todo el menu*/
    }



    &__menu-icon{
        height: 2px;
        background-color: $color-text-light;
        width: 18px;
        position: relative;

        &::after, &::before{
            content: "";    //hace esto para crear una linea para el menu
            height: 2px;
            background-color: $color-text-light;
            position: absolute;
            width: 100%;
            transition: all .2s ease-out;
        }
        &::after{
            top: 5px;   //crea una encima
        }
        &::before{
            top: -5px;  //otra debajo
        }
    }
    
    &__menu-btn:checked ~ &__menu-label &__menu-icon{
        // background-color: $color-bg-primary;    //esto asi me pinta la linea del medio de verde
        background: transparent;
        &::after{
            transform: rotate(45deg);
            top: 0;
        }
        &::before{
            transform: rotate(-45deg);
            top: 0;
        }
    }

    &__nav-links-container{
        list-style: none;
        position: absolute;
        top: 50px;
        background-color: red;
        width: 100%;
        /*se puede hacer con una transicion*/
        height: 0;
        overflow: hidden;
        transition: all .3s ease-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; //creo que lo mejor va a ser ponerle center, queda mas bueno, aunque se puede probar con space-evenly u otros
    }

    &__nav-item{
        padding: 1.25rem 1rem;
        // background-color: blue;

        &:not(:last-child){            
            border-bottom: 1px solid rgb(156, 156, 156);
        }
    }
    &__nav-link{
        color: $color-text-light;
    }
}

.user-navbar{   //ya que es casi como un bloque no es necesario seguirlo poniendo dentro de otro bloque, entonces lo mas conveniente es declararlo afuera, ya que va a tener bastantes cosas dentro

    margin-left: auto;
    color: white;
    display: flex;
    gap: .5rem;
    align-items: center;
    padding: 0 1rem;
    &__user-avatar{
        width: 40px;
    }
    &__cart-icon-container{
        color: orange;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 600px) {
    .navbar{
        &__menu-label, &__menu-btn{
            display: none;
        }    
        &__nav-links-container{
            position: static;
            flex-direction: row;
            height: 100% !important; 
            width: auto;
            // background-color: transparent;
        }

        // &:not(:last-child){         //declarar para eso no se vea la linea
        //     border-bottom: 1px solid rgb(156, 156, 156);
        // }
    }
    .user-navbar{
        order: 3; //para ponerlo en la tercera posicion
    }
}

