.main{
    flex-grow: 1;
    margin-top: 50px;
    padding: 1.5rem 0;
    background-color: black;
    color:$color-text-light;
}

@media screen and (min-width: 1600px) {
    .main{
        padding: 0 15rem;
    }
}
