// components, sirve para definir componentes de una pagina, ejemplo cards, publicidad, carrucel, tabla de productos, etc, y aca dentro iria la modificacion de cada cosa de esa card

.card{
    margin: 1rem;
    border: 1px solid red;
    &__header{
        height: 140px;
        background-color: orange;
    }
    &___img{
        height: 120px;
        //poner caracteristica para que no se deforme
    }
    &__body{
        padding: 1rem;
    }
    &__title{
        font-weight: 500;
        font-size: 1.5rem;
        border-bottom: 2px solid orangered;
    }
    &__description{
        padding: 1.5rem 0 2rem;
    }
    &__price{
        font-weight: 500;
        font-size: 1.25rem;
        color: $color-bg-primary;
    }
    &__footer{
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }
    &__date{
        color: dodgerblue;
    }
    &__btn-container{

    }
    &__btn{
        padding: 1rem 1.5rem;
        background-color: dodgerblue;
        color: white;
    }
}