// components, sirve para definir componentes de una pagina, ejemplo cards, publicidad, carrucel, tabla de productos, etc, y aca dentro iria la modificacion de cada cosa de esa card

.card{
    padding: 1rem;
    border: 1px solid #aaa;
}