*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;    
    display: inline-block;
}

html{
    font-size: 12px;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 600px){
    html{
        font-size: 16px;
    }
}