$color-bg-primary: #00c2ff;
$color-bg-secondary: rgb(16, 16, 16);
$color-text-light: rgb(255, 255, 255);
$text-lg: 1.5rem;
$color-bg-main: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(69,69,79,1) 25%, rgba(223,223,223,1) 50%, rgba(69,69,79,1) 75%, rgba(0,0,0,1) 100%);