$color-bg-primary: #00c2ff;
$color-bg-secondary: rgb(16, 16, 16);
$color-text-light: rgb(255, 255, 255);
$text-lg: 1.5rem;
$color-bg-main: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(4,4,4,1) 25%, rgba(12,12,12,1) 50%, rgba(4,4,4,1) 75%, rgba(0,0,0,1) 100%);
